@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://use.typekit.net/pki8nre.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex items-center gap-1 text-xl px-6 py-2 border-0 bg-altYellow-400 dark:bg-yellow-400 transition hover:bg-opacity-90 dark:text-themeGray-darker text-themeGray-darker rounded-md shadow border-2 border-altYellow-400 dark:border-yellow-400;
  }
  .section {
    @apply min-h-screen w-screen max-w-[1920px] px-8 md:px-16 m-auto;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn-secondary {
    @apply text-yellow-400 flex border-2 px-6 py-2 items-center gap-1 border-yellow-400 rounded-md shadow;
  }
}

.rod-glass {
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}
.rod-float {
  animation: float 6s ease-in-out infinite;
}
.rod-float-delay-1 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 1s;
}
.rod-float-delay-2 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 2s;
}
.rod-float-delay-3 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 3s;
}
@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(5px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
}

.rod-blink-light {
  animation: blink-light 0.8s infinite;
}
.rod-blink-dark {
  animation: blink-dark 0.8s infinite;
}

@keyframes blink-light {
  0% {
    background-color: #282a2d;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #282a2d;
  }
}

@keyframes blink-dark {
  0% {
    background-color: #fefefe;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fefefe;
  }
}
